#sitemap {
  font-size: 10px;
  font-family: Verdana; }
  #sitemap input {
    font-size: 10px;
    font-family: Verdana; }

.jstree-dnd-helper, #vakata-contextmenu {
  font-size: 10px;
  font-family: Verdana; }

#menub {
  height: 30px;
  overflow: auto; }

#text {
  margin-top: 1px; }

#alog {
  font-size: 9px !important;
  margin: 5px;
  border: 1px solid silver; }

#control_panel {
  margin-top: 40px;
  float: left; }

#control_panel_handle {
  width: 180px;
  height: 18px;
  background-color: #848484; }
